# Virtual environments
.venv/

# MacOS
.DS_Store

# Other editors
.idea/
*.swp

# Data
input/*
!input/.gitkeep
output/*
!output/plots/samples/
!output/plots/samples/*

# Custom user config files
adv_extract_firms-*.yaml
